
body {
background:#262626;
font-family: Tahoma, Arial, sans-serif;
font-size:100%;
color:#ffee10;
margin: 0;
padding: 0;
}

#full-width-header {
    position: absolute; /* necessary to
        absolute-position the child-element
        #home-link relative to the header */
	font-family: monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
	font-weight: 600;
    font-size: 0.9em;
	color:#ffee10;
    width: 0px;
    height: 0px;
}
		#second-header {
	font-family: Tahoma, Arial, sans-serif;
	font-color:#646464;
	font-weight: 600;
    font-size: 0.7em;
	color:#646464;
    width: 0px;
    height: 0px;
	    -webkit-animation: fading 5s;
    animation: fading 5s;
} 
   #second-header a {
        margin: 15px;
        -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
        transition: color 1s; /* For modern browsers */
	   color: #333333
    }
   #second-header a:hover {
        color: #ffee10;
    }
   #second-header a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 5px #ffee10;
}
/* Here is the animation (keyframes) */
@keyframes fading {
    0% { opacity: 1; }
    100% { opacity: 0; }
	
}
  	#third-header {
    position: absolute; 
	font-family:Courier New", "monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
    font-weight: 500;
    font-size: 0.9em;		
}
  	#fourth-header {
    position: absolute; 
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "sans-serif";
    font-weight: 900;
    font-size: 2.5em;
}
  	#fifth-header {
    position: absolute; 
	font-family:Tahoma, Arial, sans-serif;
    font-size: 10%;
    color: #262626;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
	height: 320px;
	  display: flex;
  justify-content: center;
background-color: black;
  padding: 0.01em;
	border: solid 0.01em;
	  border-top: #ffee10;
  border-bottom-color: #ffee10;
}
div.sticky2 {
  position: -webkit-sticky;
  position: sticky;
background-image: url("http://www.tvzov.com/telezov_files/stickbg.png");
  top: 0;
	height: 320px;
	  display: flex;
  justify-content: center;
  padding: 0.01em;
	border: solid 0.01em;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5em;
}

video{
  background-color: #262626;
  box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

video::-webkit-media-controls {
  display: none;
}

:root {

  --point-color: #ffee10;
  --size: 2px;	
}
.load {
  background-color: var(--main-color);
  overflow: hidden;
  width: 20%;
  height: 20%;
  position: relative;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
}
.load__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*3);
}

.load__element:nth-child(1) {
  animation: preload .6s ease-in-out alternate infinite;
}
.load__element:nth-child(2) {
  animation: preload .6s ease-in-out alternate .2s infinite;
}

.load__element:nth-child(3) {
  animation: preload .6s ease-in-out alternate .4s infinite;
}
@keyframes preload {
  100% { transform: scale(3); }
}
.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 10%;
  height: 10%;
  position: relative;
  top: 0; left: -2;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 10000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}
div.container {
 height: 2px;
}
.ml3 {
  font-weight: 500;
  font-size: 0.9em;
	color:#ffee10;
}
.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 2.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
	color:#ffee10;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0.5; 
}
.mc {
    background: #;
    margin: 0 auto;
    padding: 0 10px 0px;
    /*position: relative;*/
    width: 1054px;
	  align-items: right;
  align-content: right; 
  justify-content: right;
}
.ac {
    background: #;
    margin: 0 auto;
    padding: 0 0px;
    /*position: relative;*/
    width: 1054px;
}

.damain {
	/*width: 100%;*/
	padding: 0 0px;
}

h1 {
	font-size:100%;
	line-height:1.2em;
	color:red;
	text-shadow: 1px 1px 0px #000000;
margin: 0;
padding: 0px 50px;
}

h1 img{
	margin: 0 20px 0 0;
    box-shadow: 0 0 5px #ffffff;
	border-radius: 5px 5px 5px 5px;
    padding: 0px;
	background: #000000;
}
.acmenu {
width: 100%;
position: relative;
		font-family:Courier New", "monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
    font-size: 0.9em;
	color:#646464;
margin:0 5px;
  height: 30px;
  top: 2; right: 0;
  align-items: right;
  align-content: right; 
  justify-content: right; 
}

.acmenu div {
font-weight:bold;
	font-family:Courier New", "monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
    font-size: 0.9em;
	color:#646464;
margin:0 5px;
	  height: 30px;
  top: 2; right: 0;
  align-items: right;
  align-content: right; 
  justify-content: right; 
}

.acmenu li  {
font-size:60%;
		font-family:Courier New", "monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
	color:#646464;
text-align:center;
display: inline-block;
list-style-type: none;
margin:0 0 5px 0;
	  height: 30px;
  top: 2; right: 0;
  align-items: right;
  align-content: right; 
  justify-content: right; 
}
.content {
width: 100%;
position: relative;
}

.content div {
font-weight:bold;
margin:0 10px;
}

.content li  {
font-size:60%;
text-align:center;
display: inline-block;
list-style-type: none;
margin:0 0 10px 0;
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 90px;
  height: 90px;
  text-align: center;
	 padding-left: 5px;
  line-height: 15px;
  background: #;
  border-radius: 120%;
  font-size: 100%;
  color: #ffee10;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 10%;
  height: 10%;
  border-radius: 120%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.5);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 0px #ffee10;
  text-shadow: 0 0 15px #ffee10;
}

li img {
    box-shadow: 0 0 7px #ffee10;
	border-radius: 5px 5px 5px 5px;
	margin-left: 7px;
    padding: 7px;
	background: #;
}
li img:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

li img {
    height: 70px;
    width: 70px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

p {
    box-shadow: 0 0 5px #516280;
	border-radius: 5px;
	margin: 10px;
    padding: 10px;
	background: #;
	font-size: 90%;
}

/**/

a.tablink {
	text-decoration: none!important;
}

a.tablink.active {
	color: #;
	padding: 3px 10px;
	background: black;
	
}



.submenu {
	z-index: 1;
	position: relative;
    float:right;
	clear: both;
}


.center {
	text-align: center;	
}

.right {
	text-align:right;
	
}

/**//**//**/

.rtp-wrapper {
	width: 663px!important;
	height: 370px!important;
	float:right!important;
	clear: both!important;
	margin: 20px 0 0!important;
}

.beseed_rotator {
	float:right!important;
	clear: both!important;
	margin: 20px 0!important;
	width: 663px!important;
	height: 370px!important;
	padding-top: 0!important;
}
/*
.beseed_rotator iframe {
	width: 663px!important;
	height: 370px!important;
}
*/

.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 15vw;
}

.center {
	text-align: center;	
}

.right {
	text-align:right;
	
}

}
#player{
	width: 100%!important;
	height: 100%!important;
}

.tabs {
	height: 22px;
    background: #ebebeb;
}

.bodyc {
	width: 90%;
	margin: 0 auto;	
}


@media only screen and (max-width: 2400px) {


.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 25vw;
}

@media only screen and (max-width: 1230px) {

.ac {
	width: 900px;
}

.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 35vw;
}



	
.dainner {
	width: 570px;
}
	

}
@media only screen and (max-width: 950px) {
.ac {
	width: 100%;
	padding: 0;
}
	
.dainner {
	width: 90%;
	float: none;
	margin: 15px 15px 0;
}

img.vb__phone {
	width: 100%!important;
}

.flash {
	width: 100%;
}

.programma {
	width: 100%;
}

.submenu {
    margin: 0 20px 20px;
}


.rtp-wrapper {
    float: none!important;
    width: 100%!important;
    max-height: 70vw!important;
}

.beseed_rotator {
    float: none!important;
    width: 100%!important;
    max-height: 70vw!important;	
}


.noprogramma {
	margin: 10px 10px 30px;
	font-size: 90%;
}


h1 {
    font-size: 130%;
    padding: 0px;
}

h1 img {
	float: left;	
}

h2 {
	font-size: 110%;
}

h3 {
	margin:40px 30px 10px;
	font-size: 110%;
}

h4 {
	font-size: 110%;
	margin: 20px;
}


.player img {
    max-width: 100%;
    height: auto;
}


.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 60vw;
}
	.dark,
.dark *
.dark-mode {
  background-color: black;
  color: #ffee10;	
}

}